.latest{
	list-style-type: none;
	margin-left:0;
}

.latest li{
	padding-bottom: 10px; 
}

#seperator{
	font-weight: bold;
}

.active{
	font-weight: bold;
	color:#008000 !important;
}

.linkas{
	color:#008000 !important;
}

.post-content a, .latest-post-link, .post-link{
	color:#008000 !important;
}

.latest-post-link{
	font-weight: 500;
}

.homepage-header{
	text-align: center;
}

.site-title{
	color:#008000 !important;
	font-weight: bold;
}

.site-title:hover{
	text-decoration: none;
	color:#006400 !important;
}

.pagination, .pagination a{
	color:#008000 !important;
}